
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'montserrat', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0px; */
    -webkit-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.43);
    box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.43);
    height: auto 100px ;
}
a{
    text-decoration: none;
}
#sidebar{
    display: none;
}
.menu{
    /* border: 1px solid red; */
    display: flex;
    width: 25vw;
    justify-content: space-between;
    
}
.menu li, .menu{
    
    /* border: 1px solid red; */
    font-size: clamp(0.6em, 0.6em + 0.6vw, 2em);
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    /* display: inline; */
}
.menu li{
       /* margin-right: 40px; */
        display: inline;
    border-bottom: 2px solid #096a4a00;
}
.menu li:hover{
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid #096a49;
}
.menu li a{
    text-decoration: none;
    color:#000;

}
.menu li a:visited{
    color:#000;
}
#divLogo{
    width: 30%;
   min-width: 200px;
   max-width: 300px;
}
#logo{
    width: 100%;
}

.login, .btn-pedido{
    padding: 0.5em;
    width: 12vw;
    height: 40px;
    text-align: center;
    font-size: clamp(0.2em, 0.4em + 0.4vw, 2em);
    font-family: montserrat;
    font-weight: bold;
    border: 2px solid rgba(133, 7, 7, 0);
    border-radius: 4px;
    background-color: #096a49;
    color: #fff;
    -webkit-box-shadow: 0px 3px 9px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 3px 9px -5px rgba(0,0,0,0.43);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.43);
}
.login:hover, .btn-pedido:hover{
    transition: 0.2s ease-in-out;
    background-color: #06573c;
    -webkit-box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.43);
    box-shadow: 0px 6px 9px -2px rgba(0,0,0,0.43);
}
.login a, .btn-pedido a{
    color: #fff;
    text-decoration: none;
}
.btn-pedido{
    width: 25vw;
}
.login-on a{
    color:#096a49;
    text-decoration: none;
}
.login-on{
    width: 25vw;
    height: 40px;
    padding: 0.5em;
    font-size: clamp(0.2em, 0.4em + 0.4vw, 2em);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #096a49;
    border-radius: 4px;
}
.image{
    background-image: url(../img/backgroundFilter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 100vw;
    color:#fff;
    vertical-align: middle;
    display: table-cell;
}
.image h1{
    font-size: clamp(0.5em, 1.5em + 2vw, 3em);
    letter-spacing: 2px; 
}
.image p{
    font-size: clamp(0.3em, 1em + 1vw, 2em);
}
h1{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
p{
    text-align: center;
    margin: 10px 5%;
}
.quote{
    margin: auto;
    margin-top: 70px;
    height: 250px auto;
    width: 50%;
    font-size: clamp(0.5em, 1.5em + 2vw, 3em);    
    color: rgb(75, 75, 75);
    border-left: 3px solid #000;
}
#name{
    font-size: clamp(0.3em, 0.5em + 0.5vw, 2em);
}
.btn-agendar{
    font-family: 'montserrat', sans-serif;
    display: block;
    margin: auto;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 50%;
    font-size:clamp(0.7em, 0.7em + 0.5vw, 2em);
    background-color: #096a49;
    color: #fff;
    -webkit-box-shadow: 0px 3px 9px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 3px 9px -5px rgba(0,0,0,0.43);
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.43);
}
.btn-agendar:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
    background-color: #06573c;
    -webkit-box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.43);
    box-shadow: 0px 6px 9px -2px rgba(0,0,0,0.43);
}
.mapa{
    text-align: center;
    margin-top: 30px;
}
#maps{
    -webkit-box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.43);
    box-shadow: 0px 6px 9px -2px rgba(0,0,0,0.43);
}
footer{
    display: flex;
    background-color: #06573c;
    margin-top: 50px;
    height: 340px auto;
    padding: 20px;
}
.pt1{
    width: 33%;
    color: #fff;
    margin-right: 0.5%;
}
.pt1 h2{
    font-size: 24px;
}
.pt1 p{
    text-align: left;
    margin: 0;
    margin-top: 10px;
    font-size: 13px;
}
.pt2{
    width: 33%;
    text-align: center;
    color: white;
    margin-right: 0.5%;
}
.pt2 ul{
    list-style: none;
    text-align: center;
    margin-top: 10px;
}
.pt2 a{
    color: #fff;
    text-decoration: none;
}
.pt2 a:visited{
    color: #fff;
}
.pt3{
    width: 33%;
    color: #fff;
}
.pt3 input, .pt3 textarea{
    color: #fff;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #064b34;
}
.pt3 h2{
    text-align: center;
}
.icons{
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.icon-link{
    width: 70%;

}
.text-list{
    margin: auto;
}
.text-list li{
    /* text-align: center; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    /* text-align: center; */
    list-style: circle;
}

/* pagina pedidos */
.card{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    height: 40px auto;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.46); 
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.25);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px;
}
.card:hover{
    border: 1px solid rgb(38, 206, 122);
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
    outline: 0;
}
.menu-pedidos{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.menu-avaliar{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.opt{
    display: block;
    width: 50%;
    text-align: center;
    /* margin: auto; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
    height: 40px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.46); 
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.25);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px;
}
form{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 75%;
}
@media (max-width: 795px) {
    #divLogo{
        width: 30%;
    }
    #sidebar{
        display: block;
        position: absolute;
        /* top: 10px; */
        left: 2%;
        /* bottom: 10px */
        width: 7%;
        max-width: 75px;
    }
    .menu{
        flex-direction: column;
        font-size: clamp(0.8em, 0.8em + 0.9vw, 2em);
    }
    .menu li{
        margin: 5px;
    }
    .login, .btn-pedido, .login-on{
        width: 20vw;
    }
    .pt1, .pt2, .pt3{
        width: 75%;
        margin-top: 30px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }

}
